joern/
sample.json
extract_java-src.py
notebook.ipynb
.cursorignore
.venv/
env/
.vscode/
data_java/
data_c/
data_cpp/
**/*.log
**/__pycache__
data_c/cpg-output/
data_cpp/cpg-output/
./processing.log
*.log
__pycache__
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
*.pywz
tmp/
*.pt
*.7z
*.zip
*.tar
*.tar.gz
*.tar.bz2
*.tar.xz
*.tar.wim
*.log